@import "fonts"
@import "libs"
@import "vars"
@import "normalize"
@import "_mixins/mixins"
@import "_mixins/mixinss"
*,
::before,
::after 
	box-sizing: border-box
	margin: 0
	padding: 0
	
body
	font-family: $default-font
	font-size: 14px
	line-height: 1.4
	margin: 0
	padding: 0
	
 
	// @media (min-width: 1440px)
	// 	@include dynamicText(103%, 18, 13, 1440px, 2880, 1440)

.container
	max-width: 1140px
	min-width: 320px
	padding: 0 15px 
	margin: 0 auto 







	

	
 
	



